.custom {
    max-width: 300px; 
    width: 50%;
}

.frappr-logo {
    height: 28px;
    width: auto; 
}

.signup-body{
    background-color: #f3f5f8;
}

.custom-class input {
    background-color: #f0f0f0;
}

.login-input{
    width: 600px;
}

.logo-dashboard{
    width: 35px;
    height: 35px;
}
/* Ensure the sidebar and navbar are fixed */
.fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16.6667%; /* This is 2/12 or xs={2} in Bootstrap */
    z-index: 1000;
    background-color: #f8f9fa; /* Light background for the sidebar */
    overflow-y: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

/* Scrollable main content */
.main-content {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    padding-top: 80px; /* Adjust to navbar height */
}

.scrollable-content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

/* Additional custom styles */
.hover-effect:hover {
    text-decoration: underline;
}
