body,#root{
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif !important
}
.custom {
    max-width: 300px; 
    width: 50%;
}

.frappr-logo {
    height: 28px;
    width: auto; 
}

.signup-body{
    background-color: #f3f5f8;
}

.custom-class input {
    background-color: #f0f0f0;
}

.login-input{
    width: 600px;
}

.logo-dashboard{
    width: 35px;
    height: 35px;
}
/* Ensure the sidebar and navbar are fixed */
.fixed-sidebar {
    position: fixed;
    top: 12%;
    bottom: 0;
    width: 16.6667%; /* This is 2/12 or xs={2} in Bootstrap */
    z-index: 1000;
    background-color: #f8f9fa; /* Light background for the sidebar */
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

/* Scrollable main content */
.main-content {
    height: 88vh;
    overflow-y: auto;
}

.scrollable-content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

/* Additional custom styles */
.hover-effect:hover {
    text-decoration: underline;
    font: bold;
}
.section-title{
    font-weight: 510 !important;
}
.nav-link {
    color: black !important;
}

.status-badge {
display: inline-block;
font-size: 14px;
font-weight: 500;
border-radius: 12px;
min-width: 80px;
text-align: center;
}
.active-status {
background-color: rgba(46, 204, 113, 0.2);
color: rgb(16, 145, 70);
}
.inactive-status {
background-color: rgba(231, 76, 60, 0.2);
color: #c0392b;
}
.enabled-status {
background-color: rgba(52, 152, 219, 0.2);
color: rgb(41, 128, 185);
}
.disabled-status {
background-color: rgba(189, 195, 199, 0.2);
color: rgb(127, 140, 141);
}
.hover-table :hover {
    text-decoration: underline;
}